PROJECT_NAME=nodef
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
API_MODE=polling
WEBHOOK_URL_FULL=https://your-domain.com/webhook
WEBHOOK_URL=your-domain.com
CUSTOM_BOT_API_ENABLED=false
BOT_API_SERVER=https://api.telegram.org
HOST=0.0.0.0
PORT=443
BOT_PATH=/home/user
ABOUT_BOT_TEXT=Не задано

# ID через запятую
DEVS=1234567890,9876543210
DEV_ADMIN_USERID=1234567890

URL_ALLOWLIST=example.com,google.com,github.com

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=hackme
MYSQL_DATABASE=admindb

AI_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CAT_API_KEY=live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DS_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DS_CHATID=123456789
DS_MSGID=2
AI_MODEL=google/gemini-2.0-flash-exp:free
AI_ENDPOINT=https://openrouter.ai/api/v1

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=test
REDIS_PASSWORD=hackme
REDIS_DATABASE=0