[Unit]
Description=Example service
Wants=network-online.target
Requires=redis.service mariadb.service
After=network-online.target redis.service mariadb.service

[Service]
ExecStart=python /home/user/project_360/main.py
Restart=on-failure
User=user
WorkingDirectory=/home/user/project_360
Type=notify
TimeoutSec=120

[Install]
WantedBy=default.target
